streamlit>=1.35.0
pandas>=2.2.0
numpy>=1.26.0
plotly>=5.22.0
seaborn>=0.13.0
matplotlib>=3.9.0
scikit-learn>=1.5.0
statsmodels>=0.14.0
prophet>=1.1.5
xgboost>=2.0.3
SQLAlchemy>=2.0.30
streamlit-option-menu>=0.3.12
streamlit-aggrid>=1.0.5
streamlit-extras>=0.4.3
openpyxl>=3.1.2
XlsxWriter>=3.2.0
reportlab>=4.2.0
Babel>=2.15.0
python-dotenv>=1.0.1